@model Store.Models.ViewModel.ProductsToSupllier

@{
    ViewBag.Title = "GetSuplliersAndProductsbyname";
    Layout = "~/Views/Shared/_afterLoginLayout.cshtml";
}
<div>
    <h1>List of Products and Suplliers</h1>
    <span class="alert-success">@ViewBag.Message</span>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Supllier ID</th>
                <th>Supllier Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.PTSList)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.PID)</td>
                    <td> @Html.DisplayFor(m => i.PNAME)</td>
                    <td> @Html.DisplayFor(m => i.PPRICE)</td>
                    <td> @Html.DisplayFor(m => i.SID)</td>
                    <td> @Html.DisplayFor(m => i.SNAME)</td>
                    <td> @Html.DisplayFor(m => i.SAD)</td>
                </tr>
            }
                             
        </tbody>
    </table>
